/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 60px 30px;
  text-align: center;
  background-color: #fafafa;
}

.cestovatel {
  width: 350px;
}

h1 {
  font-size: 28px;
  margin-top: 40px;
  color: #000000;
}

h2 {
  color: #000000;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 60px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: #8b8b8b;
}

hr {
  border-color: #407bff;
  border-bottom: 0px;
  max-width: 60px;
  border-width: 2px;
}

.tlacitko {
  border-radius: 25px;
  padding: 10px 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

a.tlacitko {
  display: inline-block;
}

.prvni {
  background-color: #407bff;
  margin-bottom: 10px;
}

.druhe {
  background-color: #8b8b8b;
}

.uvod {
  margin-bottom: 30px;
}

.box {
  display: flex;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.box img {
  margin-right: 30px;
}

.box p {
  font-size: 13px;
}

/* tablet */
@media (min-width: 640px) {
  body {
    padding: 60px 10px;
  }

  .uvod,
  header p {
    padding: 0 110px;
  }

  .cestovatel {
    width: 400px;
  }

  .odkaz {
    display: inline-block;
  }

  a.tlacitko.prvni {
    margin-right: 20px;
  }

  .karticky {
    display: flex;
  }

  .box {
    justify-content: space-between;
    margin: 10px;
    display: block;
  }

  .box img {
    margin-right: 0;
  }
}

/* desktop
 text v pruhu 1040px
*/
@media (min-width: 1100px) {
  * {
    box-sizing: border-box;
  }

  body {
    max-width: 1040px;
    margin: 0 auto;
    padding: 60px 0;
  }

  section {
    margin-top: 80px;
  }

  header {
    display: flex;
  }

  .cestovatel {
    width: auto;
    max-width: 425px;
    text-align: center;
  }

  header p {
    margin: 30px 0;
    padding: 0;
  }

  .obrazek {
    order: 2;
    margin-left: 60px;
  }

  .text {
    order: 1;
    text-align: left;
  }

  .obrazek,
  .text {
    flex-basis: 490px;
  }

  hr {
    margin: 0;
  }

  .sluzby {
    display: flex;
    gap: 60px;
  }

  .uvod {
    text-align: left;
    flex-basis: 430px;
  }

  .karticky {
    flex-basis: 550px;
  }

  .kancelar .uvod {
    padding: 0;
    order: 2;
  }

  .delegat .uvod {
    padding: 0;
  }

  .box{
    padding: 40px 15px;
  }

  .box p{
    margin-bottom: 0;
  }
}
